

<br>
<div class="text-center">
    <h1> <b> A LITTLE ABOUT ME</b></h1>
</div>


<hr>





<div class="container">
    <div class="row">

        <div class="col-sm">
            <p align="justify">

                I was born in Montevideo, Uruguay but I live my childhood and adolescence in Carmelo.
                If someone ask me where I'm from I say Carmelo. <br>
                
                When I turned 18 I went back to Montevideo to study, and I was able to graduate 
                as an electrical engineer.
                I had the opportunity to study thanks to my family, who always supported me. <br>
            
                I like software development and IA because they allow you to work in very different areas;
                you can develop management software for an hospital, an app that suggests the best places to eat in the area, an app that warns of a fire approaching
                and it's even possible to create art.
                Everything is possible. <br>
                
                I like sports,I do cycling and swimming. <br>
                
                I started with death note and it is without a doubt one of my 5 favorite series of all time. <br>
            
                I am very curious about regenerative medicine and I would like to work in this field, 
                to be able to contribute with something that helps improve people's quality of life.
            
            
            </p>
          </div>
      


        <div class="col-sm">
            <img src="../../../assets/images/foto.PNG" height="150px">
          </div>

    </div>
  </div>















